 body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-box {
      background: rgb(255, 255, 255);
      padding: 30px;
      width: 320px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .login-box h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .login-box input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .login-box button {
      width: 100%;
      padding: 10px;
      background-color: rgb(46, 189, 189);
      border: none;
      color: white;
      font-size: 15px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    .login-box button:hover {
      background-color:rgb(46, 189, 189);
    }

    .login-box p {
      text-align: center;
      font-size: 13px;
      margin-top: 15px;
    }

    .login-box a {
      color:rgb(46, 189, 189);
      text-decoration: none;
    }



        .signup-box {
      background: white;
      padding: 30px;
      width: 340px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .signup-box h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .signup-box input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .signup-box button {
      width: 100%;
      padding: 10px;
      background-color: rgb(46, 189, 189);
      border: none;
      color: white;
      font-size: 15px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    .signup-box button:hover {
      background-color: rgb(36, 160, 160);
    }

    .signup-box p {
      text-align: center;
      font-size: 13px;
      margin-top: 15px;
    }

    .signup-box a {
      color: rgb(46, 189, 189);
      text-decoration: none;
    }